<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>fo to pdf transformer</description>
    <display-name>fopservlet</display-name>
    <servlet>
        <servlet-name>fopservlet</servlet-name>
        <servlet-class>org.apache.fop.servlet.FopServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>fopservlet</servlet-name>
        <url-pattern>/fopservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <!-- by default tracking-mode=COOKIE -->
        <tracking-mode>URL</tracking-mode>
        <!--
        <session-timeout>0</session-timeout>
        <cookie-config>
            <name>nameOfCookie</name>
            <max-age>-1</max-age>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        -->
    </session-config>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>text/javascript; charset=UTF-8</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xml</extension>
        <mime-type>text/xml; charset=UTF-8</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml; charset=UTF-8</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>fo</extension>
        <mime-type>text/xml; charset=UTF-8</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>
            index.xhtml
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/ErrorHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/ErrorHandler.jsp</location>
    </error-page>
</web-app>
